<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.robj.simplechangelog">

    <application>
        <activity
            android:name=".ui.ChangelogActivity"
            android:label="@string/cl_changelog"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
    </application>

</manifest>
